#body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #9f9999;
}

.custom-box {
    width: 40vw;
    margin: auto;
    margin-top: 100px;
}

.signup-text {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

.submit-button {
    color: white;
    margin-top: 10px;
}

input {
    height: 40px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
}

span{
    text-decoration: underline;
}

.btn-box a{
    color: aliceblue;
    font-size: 18px;
    margin-top: 12px;
    text-decoration: none;
}

span:hover {
    color: rgb(158, 154, 154);
}
